.hidden{
  display: none !important;
}

.header__menu{
  background-color: #fff;
  font-size: 1.1rem;
}

.icon__notify::after{
  /* display: inline; */
  position: absolute;
  top: -22px;
  right: 60px;
  content: ".";
  color: #f00;
  font-size: 2.5rem;
}

.input__search{
  display: inline-block;
  content: "";
}

.icon__search{
  padding: 2px 6px;
  background-color: #4A36EB;
  display: inline-block;
  position: absolute;
  right: 24px;
  top: 4px;
}